
*{
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
}
body{
    display:flex; 
    justify-content:center; 
    align-items:center; 
    height:100vh; 
    width:100vw; 
    background:azure; 
    
}

.main{
    width:400px; 
    border:2px solid white; 
    display:flex; 
    flex-direction:column; 
    justify-content:flex-start;  
    align-items:center; 
    background:#0D1164; 
    border:none; 
    border-radius:15px;  

     height: 90vh;          /* ✅ fixed max height */
    overflow-y: scroll;    /* ✅ scroll isi box me ho */
    scrollbar-gutter: stable both-edges; /* ✅ scrollbar hamesha right end pe chipka rahega */
    height:90vh; 
    max-height:90vh;  

}

#todo{
    font-size:2rem; 
    font-weight:700; 
    position:relative; 
    right:100px; 
    padding:5px; 
    margin:10px; 
    color:#EEEEEE; 
}
#todoin{ 
    height:40px; 
    border:none; 
    border-radius:15px; 
    padding:25px; 
    outline:none; 
    font-size:1.4rem; 
    margin:20px;
    box-shadow:4px 3px 4px blue; 
}
.list{
    list-style:none; 
    width:350px;  
    border-radius:15px; 
    padding:25px; 
    outline:none; 
    font-size:1.4rem; 
    margin:20px; 
    background-color:#253900;  
    display:flex; 
    justify-content: space-evenly;
    align-items:center; 
    color:white; 
    border:2px solid blue; 

}
.edit{
    width:50px; 
    background-color:#FFE100; 
    padding:5px; 
    border-radius:5px; 
    color:maroon; 
    font-size:16px; 
    font-weight:700; 
    border:none; 
}
.delete{
width:60px; 
    background-color:purple; 
    padding:5px; 
    border-radius:5px; 
    color:white; 
    font-size:16px; 
    border:none; 
    margin-left:5px; 
    font-weight:700; 
}
.del-edit{
    width:100px; 
    height:100px; 
    margin-left:50px;
    display:flex; 
    justify-content:center; 
    align-items:center;  
    
}